.header {
	padding-block: 38px 150px;
}

.nav__img {
	width: 100%;
}

.nav__list {
	grid-column: 5/-1;
	display: flex;
	gap: 60px;
}
.nav__link {
	font-size: 24px;
	font-weight: 900;
	color: var(--clr-primary);
	text-transform: uppercase;

	transition: color 0.2ms ease-in;
}

.header__nav .nav__logo {
	grid-column: span 4;
	padding-right: 32px;
}

.header__nav .nav__list {
	grid-column: 5/-1;
}

.header__nav .nav__link {
	color: var(--clr-primary);
}

.header__nav .nav__link--active,
.header__nav .nav__link:hover {
	color: var(--clr-accent);
}
